.checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 1rem;
    height: 1rem;

    input[type='checkbox'] {
        margin: 0;
        height: 1rem;
        width: 1rem;
        accent-color: $mainColor;

        &:hover {
            cursor: pointer;
        }
    }

    .label {
        margin-left: .5rem;
    }
}